@import "ngx-toastr/toastr";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-full-width {
  width: 100% !important;
}

.fletter {
  color: #09c;
  font-weight: 500;
}
